					<div class="detail">
						<div id="category" class="list" title="选择行业类别"
							style="visibility: visible;">
							<select id="categoryItem" title="选择行业类别">
								<option value="-1">选择行业类别</option>
								<option value="0">化妆品</option>
								<option value="1">美容</option>
								<option value="2">保健</option>
								<option value="3">养身</option>
								<option value="4">科技</option>
								<option value="5">广告</option>
								<option value="6">化工</option>
							</select>
						</div>
					</div>
					<div id="area" class="list" title="选择地域"
						style="visibility: visible;">
						<select id="areaItem" title="选择地域">
							<option value="-1">选择地域</option>
							<option value="0">上海</option>
							<option value="1">苏州</option>
							<option value="2">杭州</option>
							<option value="3">南京</option>
							<option value="4">北京</option>
							<option value="5">武汉</option>
							<option value="6">西安</option>
							<option value="7">陕西</option>
							<option value="8">大连</option>
							<option value="9">福州</option>
							<option value="10">银川</option>
						</select>
					</div>