<div class="panel panel-default">
	<div class="panel-body ">
		<div class="form-control " id="show_text">{{text|safe}}</div>
		<div class="row top-margin">
			<ul class="row  col-xs-6">
				<li class="col-xs-4"><p>
						<span class="label label-danger ">&nbsp;&nbsp;</span> 禁用
					</p></li>
				<li class="col-xs-4"><p>
						<span class="label label-warning ">&nbsp;&nbsp;</span> 风险较高
					</p></li>
				<li class="col-xs-4"><p>
						<span class="label label-info ">&nbsp;&nbsp;</span>需要证据支撑
					</p></li>
			</ul>
			<p class="col-xs-6">注意：“风险较高”指可能存在违规风险，请谨慎使用</p>
		</div>
	</div>
</div>