<div class="row text_height">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="item-bar" >
                    
                <h4 id="title" class="check-lawtip-title item-header" >
                    【{{vo.count}}】风险点法律提示</h4>

                <p class="first-p">风险用词：<span>{{vo.word}}</span></p>

                <p>风险等级：<span>{{vo.risk_level}}</span></p>

                <p>处罚依据：<span>{{vo.principle}}</span></p>

                <p>处罚范围：<span>{{vo.range}}</span></p>

        </div>
            
    </div>
</div>